
.card{
width: 100vw;
}

@media only screen and (min-width: 600px) {

.card{
width: 75vw;
  margin-left: 12vw;
}
  
}

@media only screen and (min-width: 1000px) {

.card{
width: 50vw;
  margin-left: 25vw;
}
  
}

body {
text-align:center;
}
