
.card{
width: 100vw;
}

@media only screen and (min-width: 600px) {

.card{
width: 75vw;
  margin-left: 12vw;
}
  
}

@media only screen and (min-width: 1000px) {

.card{
width: 50vw;
  float: left;
  margin-left: 0vw;
}
  
}

body {
text-align:center;
background-color: #eeeeff;
}

